<a href="https://colab.research.google.com/github/vk3232/Machine_learning/blob/main/ML_Expt_4_Support_vector_machine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exp: 5 SVM**

**Name: Vrushabh Babasaheb Khatik**

**Roll No: 313072**

**GR No: 22020234**

**Batch: ML10**

**Importing Necessary Libraries**

In [ ]:
import numpy as np
import matplotlib.pyplot as  plt
import pandas as pd
%matplotlib inline

**Reading Dataset**

In [ ]:
data = pd.read_csv("/content/sample_data/Iris.csv")
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
data.shape

(150, 6)

**Cleaning And normalizing Data**

In [ ]:
#Encoding the categorical column
data = data.replace({"Species":  {"Iris-setosa":1,"Iris-versicolor":2, "Iris-virginica":3}})
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        1
1   2            4.9           3.0            1.4           0.2        1
2   3            4.7           3.2            1.3           0.2        1
3   4            4.6           3.1            1.5           0.2        1
4   5            5.0           3.6            1.4           0.2        1

**Split Dataset for Train and Test**

In [ ]:
x = data.iloc[:,:-1]
y = data.iloc[:,-1].values

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)
X_train

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
61    62            5.9           3.0            4.2           1.5
92    93            5.8           2.6            4.0           1.2
112  113            6.8           3.0            5.5           2.1
2      3            4.7           3.2            1.3           0.2
141  142            6.9           3.1            5.1           2.3
..   ...            ...           ...            ...           ...
9     10            4.9           3.1            1.5           0.1
103  104            6.3           2.9            5.6           1.8
67    68            5.8           2.7            4.1           1.0
117  118            7.7           3.8            6.7           2.2
47    48            4.6           3.2            1.4           0.2

[112 rows x 5 columns]

**Create and train Model**

In [ ]:
from sklearn.svm import SVC
model =  SVC(kernel = "linear")
model.fit(X_train,y_train)

SVC(kernel='linear')

**Predict the expexted values**

In [ ]:
#predict the output
y_pred = model.predict(X_test)

**Validate Trained Model By confustion Matrix**

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix
import sklearn
confusion_matrix(y_test,y_pred)

array([[13,  0,  0],
       [ 0, 16,  0],
       [ 0,  0,  9]])

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        13
           2       1.00      1.00      1.00        16
           3       1.00      1.00      1.00         9

    accuracy                           1.00        38
   macro avg       1.00      1.00      1.00        38
weighted avg       1.00      1.00      1.00        38

In [ ]:
print('Accuracy:', sklearn.metrics.accuracy_score(y_test,y_pred))

print('F1 score:',sklearn.metrics.f1_score(y_test,y_pred,
                            average='weighted'))

print( 'Recall:',sklearn.metrics.recall_score(y_test,y_pred,
                              average='weighted'))

print('Precision:',sklearn.metrics.precision_score(y_test,y_pred,
                                    average='weighted'))

Accuracy: 1.0
F1 score: 1.0
Recall: 1.0
Precision: 1.0

# **Conclusion:**


*   SVM is an supervised learning Algorithm.
*   It uses for class seperation.
*   Hyperplane is used in it for class seperation